<div class="container mt-5">
  <div class="form-group pull-right mb-2 d-flex justify-content-center">
    <div class="card login-form w-50">
      <div class="card-body">
        <h3 class="card-title text-center">Change password</h3>
        <div class="card-text">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="main">
              <div class="mb-3 col">
                <label class="form-label">Old Password</label>
                <input
                  type="password"
                  formControlName="oldPassword"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['oldPassword'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['oldPassword'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['oldPassword'].errors['required']">
                    Old password is required
                  </div>
                  <div *ngIf="f['oldPassword'].errors['minlength']">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>

              <div class="mb-3 col">
                <label class="form-label">Password</label>
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['password'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['password'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['password'].errors['required']">
                    Password is required
                  </div>
                  <div *ngIf="f['password'].errors['minlength']">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>

              <div class="mb-3 col">
                <label class="form-label">Confirm Password</label>
                <input
                  type="password"
                  formControlName="confirmPassword"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['confirmPassword'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['confirmPassword'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['confirmPassword'].errors['required']">
                    Confirm Password is required
                  </div>
                  <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                    Passwords must match
                  </div>
                </div>
              </div>
            </div>

            <button
              type="submit"
              [disabled]="submitting"
              class="btn btn-primary me-2"
            >
              <span
                *ngIf="submitting"
                class="spinner-border spinner-border-sm me-1"
              ></span>
              Update
            </button>

            <button
              type="button"
              class="btn btn-secondary"
              [routerLink]="['/users']"
            >
              Close
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
